#  Steps with Python andFirst Jupyter 

![](https://i.imgur.com/gvSnw4A.png)

## Performing Arithmetic Operations using Python

In [1]:
34 + 53 + 34

121

In [2]:
34 - 8

26

In [3]:
47.56 * - 1985

-94406.6

In [4]:
300 / 14

21.428571428571427

In [8]:
300 // 14 
# by using // operator it will remove the float point number and give us only integer

21

In [6]:
300 % 14 # it will give us only remainder of the divison

6

In [9]:
7 ** 3 #it will give us the 7 to the power 3 (7*7*7()

343

You can use parentheses, i.e. ( and ), to specify the order in which operations are performed.

In [10]:
((3 + 8) * (4 -8)) / (4 ** 7)

-0.002685546875

Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |


Try solving some simple problems from this page:
https://www.math-only-math.com/worksheet-on-word-problems-on-four-operations.html . 

You can use the empty cells below and add more cells if required.

# Solving multi-step problems using variables

A grocery store sells a bag of ice for $1.25 and makes a 20% profit. If it sells 500 bags of ice, how much total profit does it make?

Thus, the grocery store makes a total profit of $125. While this is a reasonable way to solve a problem, it's not entirely clear by looking at the code cell what the numbers represent. We can give names to each of the numbers by creating Python *variables*.

> **Variables**: While working with a programming language such as Python, information is stored in *variables*. You can think of variables as containers for storing data. The data stored within a variable is called its *value*.

In [11]:
cost_of_ice_bag = 1.25

In [12]:
profit_margin = .2

In [13]:
number_of_bags = 500

In [14]:
profit_margin

0.2

In [15]:
profit_per_bag = cost_of_ice_bag * profit_margin

In [16]:
profit_per_bag

0.25

In [17]:
total_profit = number_of_bags * profit_per_bag

In [18]:
total_profit

125.0

Storing and manipulating data using appropriately named variables is a great way to explain what your code does.

Let's display the result of the word problem using a friendly message. We can do this using the `print` *function*.

> **Functions**: A function is a reusable set of instructions. It takes one or more inputs, performs certain operations, and often returns an output. Python provides many in-built functions like `print` and also allows us to define our own functions.

In [19]:
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

> **`print`**: The `print` function is used to display information. It takes one or more inputs, which can be text (within quotes, e.g., `"this is some text"`), numbers, variables, mathematical expressions, etc. We'll learn more about variables & functions in the next tutorial.

Creating a code cell for each variable or mathematical operation can get tedious. Fortunately, Jupyter allows you to write multiple lines of code within a single code cell. The result of the last line of code within the cell is displayed as the output. 

Let's rewrite the solution to our word problem within a single cell.

In [20]:
#Store input data in variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

#Perfrom the required calculations
profit_per_bag  =  cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

#Display the result
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

Note that we're using the `#` character to add *comments* within our code. 

> **Comments**: Comments and blank lines are ignored during execution of code, but they are useful for providing information to humans (including yourself) about what the code does. Comments can be inline (at the end of some code), on a separate line, or even span multiple lines. 

Inline and single-line comments start with `#`, whereas multi-line comments begin and end with three quotes, i.e. `"""`. Here are some examples of code comments:

In [22]:
my_favourtie_car_number = 7 # an inline comment

In [24]:
"""This is a multi-line comment.
Write as little or as much as you'd like.

Comments are really helpful for people reading
your code, but try to keep them short & to-the-point.

Also, if you use good variable names, then your code is
often self explanatory, and you may not even need comments!
"""
a_neutral_car_number = 5



> **EXERCISE**: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [33]:
cost_of_flying = 5000
people_sign_up = 29
per_ticket_charge = 200

total_money = people_sign_up * per_ticket_charge 

profit_made_by_company = total_money - cost_of_flying

print("The profit made by the company is ", profit_made_by_company)

The profit made by the company is  800

## Evaluating conditions using Python

Apart from arithmetic operations, Python also provides several operations for comparing numbers & variables.

| Operator    | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `==`        | Check if operands are equal                                     |
| `!=`        | Check if operands are not equal                                 |
| `>`         | Check if left operand is greater than right operand             |
| `<`         | Check if left operand is less than right operand                |
| `>=`        | Check if left operand is greater than or equal to right operand |
| `<=`        | Check if left operand is less than or equal to right operand    |

The result of a comparison operation is either `True` or `False` (note the uppercase `T` and `F`). These are special keywords in Python. Let's try out some experiments with comparison operators.

In [34]:
my_jersy_number = 32
my_pant_number = 34
my_shoes_number  = 8

In [35]:
#Equality check - True
my_jersy_number == 32

True

In [36]:
#Equality check - False
my_jersy_number == my_pant_number

False

In [39]:
# Not equal check - True
my_jersy_number != my_shoes_number

True

In [41]:
# Not equal check - False
my_shoes_number != 8

False

In [42]:
# Greater than check - True
my_pant_number > my_shoes_number

True

In [43]:
# Greater than check - False
my_jersy_number > my_pant_number

False

In [44]:
# Less than check - True
my_jersy_number < 57

True

In [47]:
# Less than check - False
my_pant_number < my_jersy_number

False

In [48]:
# Greater than or equal check - True
my_jersy_number >= 32

True

In [49]:
# Greater than or equal check - False
my_jersy_number >= 79

False

In [50]:
# Less than or equal check - True
3 + 6 <= 9

True

In [51]:
# Less than or equal check - False
my_jersy_number + my_shoes_number <= 3

False

Just like arithmetic operations, the result of a comparison operation can also be stored in a variable.

In [53]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
print("Is the ice bag is expensive ? " , is_ice_bag_expensive)

Is the ice bag is expensive ?  False

 ## Combining conditions with logical operators

The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values (also known as *booleans*). `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

In [2]:
my_jersy_number = 32
my_pant_number = 34
my_shoes_number  = 8

my_jersy_number

32

In [6]:
my_jersy_number < 0

False

In [4]:
my_jersy_number <= 32

True

In [5]:
my_jersy_number >0 and my_jersy_number <=32

True

In [7]:
my_jersy_number <0 and my_jersy_number <=32

False

The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

In [8]:
my_pant_number == 32 or my_jersy_number < 0

False

In [9]:
my_pant_number != 32 or my_jersy_number < 0

True

In [10]:
my_jersy_number <0 or True

True

In [11]:
False or False

False

The `not` operator returns `False` if a condition is `True` and `True` if the condition is `False`.

In [12]:
not my_jersy_number == 32

False

In [13]:
not my_jersy_number < 0

True

In [15]:
not False

True

In [16]:
not True

False

Logical operators can be combined to form complex conditions. Use round brackets or parentheses `(` and `)` to indicate the order in which logical operators should be applied.

In [17]:
(2 > 3 and 4<=5) or not (my_jersy_number <0 and True)

True

If parentheses are not used, logical operators are applied from left to right.

In [18]:
not True and 0 < 1 or False and True

False

Experiment with arithmetic, conditional and logical operators in Python using the interactive nature of Jupyter notebooks. We will learn more about variables and functions in future tutorials.

There is also a ternary operator in Python. Learn about it here: https://data-flair.training/blogs/python-ternary-operator/